<updatesp>

	<!-- 
		You can specify as many connections as you like to the db.
		You must have at least one that's called "admin"
		-->
	<connection>
		<name>admin</name>
		<server></server>
		<username>sa</username>
		<pw></pw>
	</connection>

	<!--
	  The <database> tag specifies the database, and the connection you should use
		to connect to is
	-->
	<database>
		<name>theGuide</name>
		<connection>admin</connection>
	</database>
	
	<!--
	  If the database section contains <snapshot> and <snapshotfilename>, that
		db will have the snapshot restored and recreated automatically
	-->

</updatesp>
