<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="baseUrl" value="http://dnatest.national.core.bbc.co.uk/"/>
    <add key="baseSecureUrl" value="https://dnatest.national.core.bbc.co.uk/"/>
    <add key="SeleniumRCServerLocation" value="C:\Program Files\selenium RC\selenium-server-1.0.3\"/>
  </appSettings>
</configuration>