<?xml version="1.0" encoding="utf-8" ?>                                  
<updatesp>                                                               
                                                                           
  <!-- 
	You can specify as many connections as you like to the db.
	You must have at least one that's called "admin"
	-->
  <connection>                                                           
    <name>admin</name>                                                 
    <server>PC-S043309\SQL_2005</server>                         
    <username>sa</username>                       
    <pw>lotuselise1</pw>                                    
  </connection>                                                          
                                                                           
  <!--
    The database tag specifies the database, and the connection you should use
      to connect to is

    If the database section contains <snapshot> and <snapshotfilename>, that
      db will have the snapshot restored and recreated automatically
  -->
	<database>
		<name>smallGuide</name>
		<connection>admin</connection>
		<snapshot>smallGuideSS</snapshot>
		<snapshotfilename>D:\SQLServer\Data\smallGuide.ss</snapshotfilename>
	</database>
                                                                           
</updatesp>                                                              
