


.tags {border-bottom:1px solid #e3e8e9; border-left:1px solid #e3e8e9;}

#thLatestReply {border-left:0px;text-align:center;border:1px solid #e3e8e9;border-left:0px;}
#thTags {border-left:0px;text-align:center;border-top:1px solid #e3e8e9;border-bottom:1px solid #e3e8e9;}


.hotPhrases {float:left; padding:20 0px;  border-bottom: 1px dashed #7d8b96; width:100%;}


.complainimage { text-decoration: none; vertical-align: top; padding-right:5px;}
.addTag {border: 1px solid #333333; padding: 1px 2px; text-decoration: none; vertical-align: top;  font-family: Verdana, Arial, Helvetica, sans-serif;}
.complainPhrase {padding-top:10px;}

.TspSearch {background-color:#E3E8E9;padding: 3px 5px 5px 10px;font-family : arial,helvetica,sans-serif ; font-size:90%; margin-top: 10px;}

.TspSearchObject {border-bottom:1px dashed #7d8b96; padding: 10 10 20 0px;}

.TspIntro {padding:10px 5px 0px 5px;}

.TspThreadList {margin-top: 20px;}


.TspDiscussions h4 {color:#666666;font-weight:normal;}

.more-phrases {font-size:70%; font-weight:bold; float:right;}

.newDiscussion { padding:5px; border:1px solid; font-size:70%; width:160px; text-align:center; font-weight:bold; background-color:  #E3E8E9; margin-bottom:10px; margin-top: 10px; float:left;}
.TspDiscussions {padding:5px; text-align:right; vertical-align:bottom; margin-top: 10px; vertical-align: bottom; width:240px;}

#lhcol {float:left;width:440px;border-right:1px dashed #7d8b96; padding-right:3px;}

#rhcol {float:right;}

.bbcpageToplefttd {background-color:  #F5F5F5;}
.bbcpageCrumb {background-color:  #F5F5F5;}
.bbcpageLocal {background-color:  #F5F5F5; padding-left: 8px;  }

.bbcpageServices {background-color:  #F5F5F5;}
a.englandNav { text-decoration: none; font-size:80%; }
.englandNavCountry {font-weight:bold; font-size:80%}
.regionBlock {
				padding-top: 20px;   
				font-family : arial,helvetica,sans-serif ;
				color:#7d8b96;

				 }

.tablenavtext {text-align:center;}
.onTspTabBlock a {text-decoration:underline;}

.blockPhrase {
  font-weight:normal;
				  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.hotPhrasesNav { background-color:#E3E8E9;  padding:5px; font-size: 80%;text-align:center;}

#moreTagsToBoards {float:right;  font-size: 80%;}

.addTagLink {}
.cancelTagLink {float:right;} 

.blockPhrase { font-size:90%;} 
.addTag { font-size:90%;} 
.rank1{font-size:60%;}
.rank2{font-size:80%;}
.rank3{font-size:100%;}
.rank4{font-size:120%;}
.rank5{font-size:140%;}

.introRegion {font-size:140%;}
.introPhrase {font-size:140%;}

.regionBlock{font-size:100%;}




