/*PLEASE REMOVE ALL THESE COMMENTS BEFORE LAUNCH*/

/*Redefined HTML tags*/
body,td {font-family :Arial, sans-serif;color:#666666;}
a {color:#666666;}
a:hover {text-decoration:underline;color:#666666;}
a:visited {color:#666666;}
input {font-family :Arial, sans-serif;}

/*custom styles*/
/*This is help text. Should not be the same colour as body text*/
.ssoTransparency {color:#008AFF;}
a.ssoTransparency {cursor:help;}
a.ssoTransparency:hover {color:#666666;}
a.ssoTransparency:visited {color:#008AFF;}

/*only change error colour if red shows up badly against your chosen backgrounds*/
.ssoError {color:#ff0000;}

/*"light" denotes areas of status bar that are of a ligher colour - eg the "new visitoes" section*/
.ssoStatuslight {font-family :Arial, sans-serif;color:#666666;}
a.ssoStatuslight {text-decoration:underline;color:#008AFF;}
a.ssoStatuslight:hover {color:#666666;}

/*"dark" denotes areas of status bar that are of a darker colour - eg the "returning bbci members" section*/
.ssoStatusdark {font-family :Arial, sans-serif;color:#406284;}
a.ssoStatusdark {color:#406284;text-decoration:underline;}
a.ssoStatusdark:visited {color:#406284;}
a.ssoStatusdark:hover {color:#666666;}

a.ssoStatusdarkhelp {color:#406284;cursor:help;}
a.ssoStatusdarkhelp:hover {color:#666666;}
a.ssoStatusdarkhelp:visited {color:#406284;}

.ssoStatusform {font-size:smaller; width:120px; height:20px; background-color:#ffffff;} /* Make sure this is the same colour as .ssoThree or - if you're not using three shades of teh same colour for your main sso sections it should be a lighter version of the colour you are using for ssoOne*/
	
.roundbutton{padding-right:7px;}

/*background image for whole page - if required*/
.ssoBg {} 
	
/*dividers*/
div.dashedFormbox {
	border-bottom : 3px dashed #E3E1CC; /* Make sure this is the same colour as .ssoThree */
	font : 1px;
	line-height : 1px;
	margin-top: 15px ;
	margin-bottom: 15px ;
}
div.dashedMain {
	border-bottom : 3px dashed #ffffff;/* Make sure this is the same colour as .ssoFormbox */
	font : 1px;
	line-height : 1px;
	margin-top: 15px ;
	margin-bottom: 15px ;
}

/*background colours*/
/* Body background colours - make sure these are both the same */
body {background-color:#ffffff;}
.ssoLikebody {background-color:#ffffff;}

/*background of main form*/
.ssoFormbox {background-color : #ffffff;}

/*background of main SSO layers, one is "returning members" section colour and three is "new visitors" section colour*/
.ssoOne {background-color : #A1CAF9;}
.ssoTwo {background-color : #BFD6F0;}
.ssoThree {background-color : #E3E1CC;}

/*divider colour for use between layers*/
.ssoStatusshadow {background-color : #BFD6F0;}