.thread{
	width:200px;
}
#discussionCount{
	text-align:right;
}
#mainStage{
	font-size:small;
}
#pagination{
	border-bottom:1px solid #989872;
	padding:6px;
	text-align:right;
}
#pagination A{
	color:#767643;
	text-decoration:none;
}
#panelActive{
	padding-left:0;
	padding-right:0;
	width:480px;
}
#panelActiveTop{
	background:#989872;
	color:#fffcf1;
	font-size:x-small;
	margin:0;
	padding:23px 8px 3px 12px;
}
#startNew{
	background:#fffcf1;
	border-style:outset;
	border-width:2px;
	color:#989872;
	display:block;
	font-size:x-small;
	font-weight:bold;
	text-align:left;
	width:12em;
}
#threads{
	border-spacing:0;
	width:100%;
}
#threads TH{
	background:#989872;
	color:#fffcf1;
	border:1px solid #d7d5c0;
	border-bottom:1px solid #989872;
	padding:0 6px;
	text-align:left;
}
#threads TD{
	border:1px solid #d7d5c0;
	border-bottom:1px solid #989872;
	padding:6px;
}
#threads .even TD{
	background:#cfcdb4;
	color:#fffcf1;
}
#threads .odd TD{
	background:#fffcf1;
	color:#989872;
}
#threads A{
	color:#767643;
	font-weight:bold;
}
#threads TD.discussion{
	vertical-align:top;
}
#threads TD.discussion P{
	margin-top:0;
	overflow:hidden;
	width:234px;
}
* HTML #threads TD.discussion P{
	width:250px;
}
#threads TD.replies{
	text-align:center;
}
#threads TD.started P{
	overflow:hidden;
	width:104px;
}
* HTML #threads TD.started P{
	width:88px;
}