<?xml version="1.0" encoding="utf-8" ?> 
							  <config>
							 		<settings>
							 			<loginname>_Test_Admin</loginname>
										<loginpassword>sm3gh34d</loginpassword>
							 			<editorpassword>d0ntt3ll</editorpassword>
                    <hostname>www0.bbc.co.uk</hostname>
							 			<proxy>www-cache.reith.bbc.co.uk</proxy>
                    <sitename>hub</sitename>
                    <loginhost>www0.bbc.co.uk</loginhost>
                    <port>80</port>
                    <useproxy>True</useproxy>
                    <logfile>getstatslog.txt</logfile>
							 		</settings>
                  <actions>
                    <action type="savelocalfile">
                      <url>/dna/mb606/purexml/StatisticsReport?interval=1&amp;date=%date%&amp;type=postspertopic</url>
                      <stylesheet>GenerateCSV.xsl</stylesheet>
                      <!--<date>3 apr 2006</date>-->
                      <outputfile>
                        <location></location>
                        <filename>\d\a\y_yyyyMMdd_\d\n\a\a\c\t\i\v\e\t\o\p\i\c\b\r\e\a\k\d\o\w\n\.\c\s\v</filename>
                      </outputfile>
                    </action>
                    <action type="makerequest">
                      <url>/dna/mb606/purexml/status</url>
                    </action>
                  </actions>
                </config>
