HR{
	color:;
}
.post{
	padding:32px 22px 22px;
}
.postseparator{
	background:#cfcdb4;
	height:1.5em;
	padding:.75em 3px .3em;
}
.postseparator A{
	position:relative;
	top:-1.2em;
}
.postseparator A.button{
	left:55px;
	top:-2.2em;
}
.postseparator A.warning{
	background:#fffcf1;
	border-right:1px solid #ccc;
	left:20px;
	padding:2px 4px;
}
#crumb{
	background:#f2f0e0;
	font-size:x-small;
	font-weight:bold;
	margin:3px 0 20px 0;
	padding:4px;
	text-align:left;
}
#howto LI{
	background:#f9eee3 url(http://www.bbc.co.uk/dnaimages/communities/images/downright_bullet.gif) 15px .7em no-repeat;
}
#howto .first-child{
	background:#fff url(http://www.bbc.co.uk/dnaimages/communities/images/boxout_title_bullet.gif) 15px .6em no-repeat;
	border-bottom:1px solid #c60;
	color:#f60;
	font-size:small;
	font-weight:bold;
}
#panelActiveTop{
	background:#989872;
	margin:0 0 15px;
	padding:3px 0;
	text-align:right;
}