RewriteEngine On
RewriteCond     %{HTTP_HOST} ^dna-staging\.bbc\.co\.uk$
RewriteRule     ^([^?]*)      http://www.bbc.co.uk/dnaimages/staging/$1?_bbc_=1&__ip__=%{REMOTE_ADDR}    [E=force-no-vary:t,QSA,P]
