<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add ServerList="10.4.3.6:11211" type="BBC.Dna.Utils.MemcachedCacheManager, BBC.Dna.Utils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c2c5f2d0ba0d9887" name="Memcached" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </cacheManagers>
  </cachingConfiguration>

  <appSettings>
    <add key="testXsltFilePath" value="\\ci-int-dub-2\wwwroot\dnasite\Skins\DnaXsltCacheTestFile.xsl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </appSettings>
  
</configuration>