#blq-main #blq-local-nav a, #blq-main #blq-content a, #blq-main #dna-boardpromo a {
	color: cadetblue;
}
#blq-main #header {
	background-color: cadetblue;
}
#blq-main #header #banner {
  	color: #fff;
}
#blq-main #global-nav {
	background-color: cadetblue;
}
#blq-local-nav ul.local-site-nav  {
	background-color: cadetblue;
}
#blq-local-nav ul.local-site-nav a:hover {
	background: #fff;
}
#blq-main #blq-local-nav ul li.topic-parent a {
	background-color: LightSlateGray;
}
#blq-main #blq-content h2, #blq-main #dna-boardpromo h3 {
	background-color: cadetblue;
}
#blq-main ul.topfives {
	color: cadetblue;
}
#blq-main .pagination li.dna-button {
	background-color: cadetblue;
}
#blq-main .pagination li.dna-button a {
	background-color: cadetblue;
}
#blq-main .pagination li a {
	background-color: cadetblue;
}
#blq-main .pagination li.current a {
  	background-color: LightSlateGray;
}
#blq-main .pagination li span {
	background-color: cadetblue;
}