<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="proxyserver" value="http://www-cache.reith.bbc.co.uk:80"/>
    <add key="TwitterUserName" value="Srihari0309" />
    <add key="TwitterPassword" value="sri030983" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint binding="webHttpBinding"
                address="http://api.twitter.com/1"
                contract="BBC.Dna.SocialAPI.ITwitter"
                name="TwitterClient"
                bindingConfiguration="IncreasedTimeout"
                behaviorConfiguration="twitter" />
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="IncreasedTimeout"
                 sendTimeout="00:15:00" useDefaultWebProxy="true" bypassProxyOnLocal="false"
					       openTimeout="00:15:00" closeTimeout="00:15:00" receiveTimeout="00:15:00" maxReceivedMessageSize="65536000" >
          <security mode = "TransportCredentialOnly">
            <transport clientCredentialType="Basic" realm="Twitter API" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="twitter">
          <webHttp />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>