#blq-main p#membership strong {color:#000066;}
#membership strong,
#membership a {margin:0 7px 0 7px; color: #908000;}
#content .pagination li.current a {background:#FFF9D2; color: #000066;}
.pagination li span {display:none;background:#ccc;}

#content .pagination li a {color:#908000; text-decoration: none; font-weight:bold;background:#E6DA8F;}
.pagination li.selected { background:#f359ff;}
ul.forumthreadposts li.stripe {background:#E6DA8F;}
p.forumthreads {color:#112834;}
#blq-content ul.forumthreads h3 a:hover { color: #908000; }
ul.forumthreads p a.nosubject {color:#999;}
ul.forumthreads li.stripe {background:#FFF9D2;}
.noreplies {color:#112834}
p.post-list {color:#ccc;}
ul.post-list p a.nosubject {color:#999;}
ul.post-list li.stripe {background:#FFF9D2;}
ul.forumthreadposts .itemdetail {border-bottom:1px dotted #ccc;}
ul.post-list .itemdetail {border-top:1px dotted #ccc;}
#content .dna-boards-startanewdiscussion a, #content .dna-boards-inreplyto a {background:#E6DA8F;}
#content ul.forumthreadposts li.stripe .dna-boards-inreplyto a {background:#F6F5EE;}
#content ul.forumthreadposts li p.dna-boards-startanewdiscussion a.id-cta, p.dna-boards-inreplyto a.id-cta {color: #fff;}
p.flag a {color:#999; background:url(/dnaimages/dna_messageboard/img/complain.gif) no-repeat 1px 2px; padding-left:14px;}
.dna-boards .text,
.dna-boards select,
.dna-boards .textarea { border:1px solid #000066; font-size:1em;background: #FFF9D2 repeat-x scroll left bottom; color: #000066 }
.dna-boards .disabled {border:1px solid #999}
.inreplyto .createdby {border-bottom: 1px dotted #CCCCCC;}
#blq-content .dna-boards-moderation a {color:#999}
ul.forumthreadposts li blockquote, div.inreplyto blockquote {border: 1px solid #908000;}
ul.forumthreadposts li { border-color: #000066; }

/* crazy override to customise the frontpage */
#blq-content h3 {
  background-color: #E6DA8F;
  color: #000066;
  }
#blq-content .topiclist li {background:#fff; background: #FFF9D2;}

/* overrides for barlesque */
#blq-content .topiclist p a { color: #000000;}
#blq-content .topiclist p a:hover { color:#CC0000;}