#blq-main p#membership strong { color:#0000FF; }
#content .pagination li.current a { background:#9FCFFF; color: #000066; }
.pagination li span { background:#ccc; }
#content .pagination li a { color:#0000FF; background: #6EB7FF; }
.pagination li.selected { background:#f359ff;}
ul.forumthreadposts li.stripe { background:#C6E2FD; }
p.forumthreads { color:#112834; }
#blq-content ul.forumthreads h3 a:hover { color: #0000FF; }
ul.forumthreads p a.nosubject {color:#999; }
ul.forumthreads li.stripe { background:#C6E2FD; }
.noreplies { color:#112834; }
p.post-list { color:#ccc; }
ul.post-list p a.nosubject { color:#999; }
ul.post-list li.stripe { background:#C6E2FD; }
ul.forumthreads .itemdetail { border-top:1px dotted #ccc; }
ul.forumthreadposts .itemdetail { border-bottom:1px dotted #ccc; }
ul.post-list .itemdetail { border-top:1px dotted #ccc; }
#content .dna-boards-startanewdiscussion a, #content .dna-boards-inreplyto a {background:#6EB7FF; }
#content ul.forumthreadposts li p.dna-boards-startanewdiscussion a.id-cta, p.dna-boards-inreplyto a.id-cta { color: #fff; }
p.flag a { color:#999; }
.dna-boards .text,
.dna-boards select,
.dna-boards .textarea { border:1px solid #CCCCCC; font-size:1em;background: #C8E0F9 repeat-x scroll left bottom; color: #000066 }
.dna-boards .disabled { border:1px solid #999 }
.inreplyto .createdby { border-bottom: 1px dotted #CCCCCC; }
#blq-content .dna-boards-moderation a { color:#999; }
#blq-content h3 { background-color: #6EB7FF; color: #000066; }
#blq-content .topiclist li { background:#fff; background: #C6E2FD; }
#blq-content h3 a:hover { color: #FFFFFF; }
ul.forumthreadposts li blockquote, div.inreplyto blockquote {border: 1px solid #0000FF;}
ul.forumthreadposts li { border-color: #000066; }

/* overrides for barlesque */
#blq-content .topiclist p a { color: #000000; }
#blq-content .topiclist p a:hover { color:#CC0000;}