/*MEMBERSDEATILS.HTM AND MEMBERLIST.HTM ONLY */

#siteSelect {
	padding: 10px;
	background-color: #dfdfcf;
	border:solid red 0px;
}

#siteSelect p  {
	float:left;
}

#siteSelect select {
	width: 150px; float:left;
}

#memberSearch {
	float:right;
	margin-top:-34px;
	margin-right:8px;
	padding: 0px;
	background-color: #dfdfcf;
}

#navigationBar {	
 	clear:both;
	padding: 10px;
	text-align: right;
	padding-right: 200px;
}

#navigationBar a {
	color: #0d4d81;
}

#navigationBar a:hover {
	border-bottom: dashed 1px #cc0000 
}

.pageSelected {
	border: solid 1px #cc0000;
	font-weight: bold;
}

#gotoSelectTop, #gotoSelectBottom {
	width: 158px;
}

#gotoSelectTop {
  text-align:right;
	position:relative;
	margin-top:-38px;
	float:right;
	bottom: 0px;
	border:solid black 0px;
	right: 0px;
	vertical-align:baseline;
	padding: 10px;
	
}

#gotoSelectTop p, #gotoSelectTop select, #gotoSelectTop input, #gotoSelectBottom p, #gotoSelectBottom select, #gotoSelectBottom input{
	float:left;
	vertical-align:baseline;
		
}

#gotoSelectTop p, #gotoSelectBottom p {
	margin-top:4px;
}

#gotoSelectTop select, #gotoSelectBottom select {
	margin-top:2px;
}

#gotoSelectBottom {
	position: relative;
	float: right;
	margin-top:-38px;
	bottom: 0;
	right: 0;
	padding: 10px 10px 5px 10px;
}

#memberList, #moderate-nickname-table {
	clear: both;
	border-bottom: 3px dashed #d5d5d5;
	width: 100%;
	border: 0;
}

#memberList td, #moderate-nickname-table td {
	padding: 10px;
	border: 0;
}

#memberList thead td, #moderate-nickname-table thead td {
	background: #3399cc;
	color: #01295e;
	font-weight: bold;
}

#memberList thead a, #moderate-nickname-table thead a {
	color: #01295e;
}

#memberList a, #moderate-nickname-table a {
	color: #0d4d81;
}

#memberList thead a:hover {
	border-bottom: dashed 1px #ffffff;
}

#memberList a.directionUp {
	padding-right: 10px; 
	background: url(http://sandbox0.bu.bbc.co.uk/andy/moderation/images/arrow_up.gif) no-repeat center right;
}

#memberList a.directionDown {
	padding-right: 10px; 
	background: url(http://sandbox0.bu.bbc.co.uk/andy/moderation/images/arrow_down.gif) no-repeat center right;
}

#memberList tr.evenRow, #moderate-nickname-table tr.evenRow {
	background: #ffffff;
}

#memberCrumbtrail {
	clear:both;
	padding: 10px;
}

#memberInfoText {
	background: #ffffff;
	padding: 20px 0 15px 10px;
	margin: 0;
}

h2.altIdentities {
	margin:25px 0 0 10px ;
	border:solid red 0px;
}

p.altIdenties{
  margin: 0 10px
}

#memberDetails ul.altIdentities {
	margin: 0;
	padding-left: 15px;
	clear: both;
}

#altIdentities li {
	margin: 0;
	padding: 0;
}

#statusChange {
	width:100%;
	height:40px;
	background: #999999;
	border:solid black 0px;
	padding: 0;
	margin: 0;
	float:left;
}

#statusChange select {
	float:left; 
	margin:10px;
}

#applyToAll {
	text-align: right;
	float: right; 
	margin:10px;
}

#applyToOtherProfiles {
	clear: both;
	background: #ffffff;
	padding: 5px;
	text-align: right;
}

.usertags {	
	background: #ffffff;
}

h2.usertags {
	clear: both;
	padding: 0px 0 0 10px;
}

p.usertags {
	border-bottom: 3px dashed #d5d5d5;
	padding: 0 0 10px 10px;
}

.usertags label {
	padding-right: 25px;
	vertical-align: top;
}

#updateButton {
	position: absolute;
	bottom:-30px;
	margin-left:45%;
	font-size:12px;
	font-family:arial,verdana;
}
/*END MEMBERSDEATILS.HTM AND MEMBERLIST.HTM ONLY */
