<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" name="Cache Manager" />
      <add ServerList="127.0.0.1:11211" type="BBC.Dna.Utils.MemcachedCacheManager, BBC.Dna.Utils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c2c5f2d0ba0d9887" name="Memcached" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <appSettings>
    <!-- The location of the xslt files - can be UNC -->
    <add key="xslt_directory" value="http://local.bbc.co.uk:8081/dna/api/comments/xslt/2.0" />
    <!-- The location of the web service -->
    <add key="ServerBasePath" value="http://local.bbc.co.uk/dna/api/comments/CommentsService.svc" />
    <!-- BBCUID key -->
    <add key="SecretKey" value="simon_brickle" />
    <!-- Path to log file directory -->
    <add key="logfilepath" value="d:\temp\InputLogs" />
    <!-- Proxy server to use -->
    <add key="proxyserver" value="" />
    <!-- If 1 then display .net errors - otherwise friendly error message will be sent -->
    <add key="aspneterrors" value="1" />
    <!-- Maximum number of ASPX concurrent requests -->
    <add key="maxrequests" value="50" />
    <!-- Memcached serverlist for functional tests -->
    <add key="ServerList" value="127.0.0.1:11211" />
    <!-- Secondary Memcached serverlist for functional tests -->
    <add key="SecondaryMemcachedServer" value="10.161.68.132:11211" />
    <!-- Maintence Mode enabled (1) or disabled (0) -->
    <add key="MaintenanceMode" value="0" />
    <!-- The length in minutes to cache items to the default cache manager -->
    <add key="CacheSlidingWindow" value="5" />
    <!-- The email group to which the notification email would be sent when the Terms section of the CommentsForumList gets updated -->
    <add key="ModerateEmailGroup" value="Value provided by the Moderation team" />

    <!-- Keys required for the twitter authentication -->
    <add key="TwitterUserName" value="BBC_DNA_Search" />
    <add key="TwitterPassword" value="WelCome12" />

    <!-- Buzz Profile API -->
    <add key="BuzzProfileAPI" value="https://admin.test.bbc.co.uk/buzz/admin/profiles/" />
    <add key="BuzzCreateProfileAPI" value="https://admin.test.bbc.co.uk/buzz/admin/profile/" />
  </appSettings>
</configuration>