<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BBC.Dna.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings><add name="ContributionsEntities" connectionString="metadata=res://*/Contributions.csdl|res://*/Contributions.ssdl|res://*/Contributions.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TheGuide;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings><applicationSettings>
        <BBC.Dna.Api.Properties.Settings>
            <setting name="ProfileRead" serializeAs="String">
                <value>server=ops-dbdev1.national.core.bbc.co.uk; port=3312; user id=profile; password=crudmeister; database=mdb; pooling=true</value>
            </setting>
            <setting name="ProfileWrite" serializeAs="String">
                <value>server=ops-dbdev1.national.core.bbc.co.uk; port=3312; user id=profile; password=crudmeister; database=mdb; pooling=true</value>
            </setting>
            <setting name="Identity" serializeAs="String">
                <value>https://api.stage.bbc.co.uk/opensso/identityservices/IdentityServices;dna live;10.152.4.15:80;logging</value>
            </setting>
            <setting name="DNADataBase" serializeAs="String">
                <value>Data Source=.;Initial Catalog=TheGuide;Integrated Security=True;MultipleActiveResultSets=True</value>
            </setting>
        </BBC.Dna.Api.Properties.Settings>
    </applicationSettings>
</configuration>

