<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DnaEventProcessorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="exmoderationprocessor.requests.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Requests"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="ExModerationProcessor.Requests" />
      <add fileName="exmoderationprocessor.responses.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Responses"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="ExModerationProcessor.Responses" />
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="MethodTracing Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="FlatFile TraceListener" />
      <add source="Enterprise Library Logging" formatter="Responses"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="Formatted EventLog TraceListener" />
      <add fileName="snesactivityprocessor.requests.log" footer="----------------------------------------"
        formatter="Requests" header="----------------------------------------"
        rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="1024"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="SnesActivityProcessor.Requests" />
      <add fileName="snesactivityprocessor.responses.log" footer="----------------------------------------"
        formatter="Responses" header="----------------------------------------"
        rollFileExistsBehavior="Overwrite" rollInterval="None" rollSizeKB="0"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="SnesActivityProcessor.Responses" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.WmiTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.WmiTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="WMI TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Method: {property(MethodName)}&#xD;&#xA;Call Time: {property(CallTime)}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}, property(MethodName)&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="MethodTracing Formatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="Requests" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
        name="Responses" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="ExModerationProcessor.Requests">
        <listeners>
          <add name="ExModerationProcessor.Requests" />
        </listeners>
      </add>
      <add switchValue="All" name="ExModerationProcessor.Responses">
        <listeners>
          <add name="ExModerationProcessor.Responses" />
        </listeners>
      </add>
      <add switchValue="Critical" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="MethodTracing">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="SnesActivityProcessor.Requests">
        <listeners>
          <add name="SnesActivityProcessor.Requests" />
        </listeners>
      </add>
      <add switchValue="All" name="SnesActivityProcessor.Responses">
        <listeners>
          <add name="SnesActivityProcessor.Responses" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="DnaEventProcessorService.Properties.Settings.guideConnectionString"
      connectionString="database=newguide; server=vp-dev-dna-db1\sql2005; user id=sa; password=b0x0ftr1cks;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
		<add name="DnaEventProcessorService.Properties.Settings.guideConnectionString"
		  connectionString="Data Source=.\SQLSERVER2005;Initial Catalog=TheGuide;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>-->
  <applicationSettings>
    <DnaEventProcessorService.Properties.Settings>
      <setting name="activityProcessingPeriod" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SnesActivityProcessor_certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="snesBaseUri" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="proxyAddress" serializeAs="String">
        <value>http://www-cache.reith.bbc.co.uk:80</value>
      </setting>
      <setting name="ExModerationProcessor_certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
    </DnaEventProcessorService.Properties.Settings>
    <!--<SNeSEventProcessor.Properties.Settings>
      <setting name="activityProcessingPeriod" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="snesBaseUri" serializeAs="String">
        <value>https://api.test.bbc.co.uk/social/social/rest</value>
      </setting>
      <setting name="certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="proxyAddress" serializeAs="String">
        <value>http://www-cache.reith.bbc.co.uk:80</value>
      </setting>
    </SNeSEventProcessor.Properties.Settings>-->
    <!--<SNeSEventProcessorConsoleHost.Properties.Settings>
      <setting name="activityProcessingPeriod" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="snesBaseUri" serializeAs="String">
        <value>https://api.test.bbc.co.uk/social/social/rest</value>
      </setting>
      <setting name="certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="proxyAddress" serializeAs="String">
        <value>http://10.152.4.15:80</value>
      </setting>
    </SNeSEventProcessorConsoleHost.Properties.Settings>-->
  </applicationSettings>
</configuration>