<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DnaEventProcessorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Dna.BIEventSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
      defaultCategory="" logWarningsWhenNoCategoriesMatch="false">
        <listeners>
            <add fileName="Logs\BIEventProcessor\BIEventProcessor.log" footer=""
                formatter="Standard Text Formatter" header="----------------------------------------"
                rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="1024"
                timeStampPattern="yyyy-MM-dd-HH-mm-ss" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                name="BIEventProcessor Trace Listener" />
            <add fileName="Logs\DatabaseEmailProcessor\DatabaseEmailProcessor.log" footer=""
                formatter="Standard Text Formatter" header="----------------------------------------"
                rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="1024"
                timeStampPattern="yyyy-MM-dd-HH-mm-ss" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                name="DatabaseEmailProcessor Trace Listener" />
            <add source="Enterprise Library Logging" formatter="Verbose Text Formatter"
                log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                name="Formatted EventLog Trace Listener" />
            <add fileName="Logs\ExModerationProcessor\exmoderationprocessor.log"
                footer="" formatter="Standard Text Formatter" header="----------------------------------------"
                rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="1024"
                timeStampPattern="yyyy-MM-dd-HH-mm-ss" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                name="ExModerationProcessor Trace Listener" />
            <add fileName="Logs\SnesActivityProcessor\snesactivityprocessor.log"
                footer="" formatter="Standard Text Formatter" header="----------------------------------------"
                rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="1024"
                timeStampPattern="yyyy-MM-dd-HH-mm-ss" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
                name="SnesActivityProcessor Trace Listener" />
        </listeners>
        <formatters>
            <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
              type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
              name="Verbose Text Formatter" />
            <add template="{timestamp}&#xD;&#xA;{category} : {severity}&#xD;&#xA;Message: {message}&#xD;&#xA;{dictionary({key}: {value}&#xD;&#xA;)}"
              type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=54b8fe30038faf0d"
              name="Standard Text Formatter" />
        </formatters>
        <categorySources>
            <add switchValue="Information" name="BIEventProcessor">
                <listeners>
                    <add name="BIEventProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="BIEventProcessor.Exceptions">
                <listeners>
                    <add name="BIEventProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="Information" name="DatabaseEmailProcessor">
                <listeners>
                    <add name="DatabaseEmailProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="DatabaseEmailProcessor.Exceptions">
                <listeners>
                    <add name="DatabaseEmailProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="ExModerationProcessor.Exceptions">
                <listeners>
                    <add name="ExModerationProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="ExModerationProcessor.Requests">
                <listeners>
                    <add name="ExModerationProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="ExModerationProcessor.Responses">
                <listeners>
                    <add name="ExModerationProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="SnesActivityProcessor.Exceptions">
                <listeners>
                    <add name="SnesActivityProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="SnesActivityProcessor.Requests">
                <listeners>
                    <add name="SnesActivityProcessor Trace Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="SnesActivityProcessor.Responses">
                <listeners>
                    <add name="SnesActivityProcessor Trace Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Formatted EventLog Trace Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <connectionStrings>
        <add name="DnaEventProcessorService.Properties.Settings.ConnectionString_TheGuide"
            connectionString="database=theguide; server=.; user id=sa; password=sapassword; pooling=false"
            providerName="System.Data.SqlClient" />
        <add name="DnaEventProcessorService.Properties.Settings.ConnectionString_RiskMod"
            connectionString="Data Source=.;Initial Catalog=RiskMod;Integrated Security=True;Application Name=DnaEventProcessorService" />
    </connectionStrings>
    <!--<connectionStrings>
		<add name="DnaEventProcessorService.Properties.Settings.guideConnectionString"
		  connectionString="Data Source=.\SQLSERVER2005;Initial Catalog=TheGuide;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>-->
    <applicationSettings>
        <Dna.BIEventSystem.Properties.Settings>
            <setting name="biSetting" serializeAs="String">
                <value>Testicles</value>
            </setting>
        </Dna.BIEventSystem.Properties.Settings>
        <DnaEventProcessorService.Properties.Settings>
            <setting name="SnesActivityProcessor_Interval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SnesActivityProcessor_CertificateName" serializeAs="String">
                <value>DNA</value>
            </setting>
            <setting name="snesBaseUri" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="proxyAddress" serializeAs="String">
                <value>http://www-cache.reith.bbc.co.uk:80</value>
            </setting>
            <setting name="ExModerationProcessor_CertificateName" serializeAs="String">
                <value>DNA</value>
            </setting>
            <setting name="SnesOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExModOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BIEventsProcessor_Interval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BIEventsProcessor_DisableRiskMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SiteEventsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BIEventsProcessor_NumThreads" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DatabaseEmailProcessor_Interval" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="DatabaseEmaiProcessor_NumThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DatabaseEmaiProcessor_BatchSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BIEventsProcessor_RecordRiskModDecisionsOnPost"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BIEventsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseEmailsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabaseEmailProcessor_SMTPSettings" serializeAs="String">
                <value>ops-fs0.national.core.bbc.co.uk</value>
            </setting>
            <setting name="DatabaseEmailProcessor_MaxRetryAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DatabaseEmailProcessor_PersistentErrorMessageSnippet"
                serializeAs="String">
                <value>service not available#remote name could not be resolved#Unable to connect to the remote server</value>
            </setting>
        </DnaEventProcessorService.Properties.Settings>
        <!--<SNeSEventProcessor.Properties.Settings>
      <setting name="activityProcessingPeriod" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="snesBaseUri" serializeAs="String">
        <value>https://api.test.bbc.co.uk/social/social/rest</value>
      </setting>
      <setting name="certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="proxyAddress" serializeAs="String">
        <value>http://www-cache.reith.bbc.co.uk:80</value>
      </setting>
    </SNeSEventProcessor.Properties.Settings>-->
        <!--<SNeSEventProcessorConsoleHost.Properties.Settings>
      <setting name="activityProcessingPeriod" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="snesBaseUri" serializeAs="String">
        <value>https://api.test.bbc.co.uk/social/social/rest</value>
      </setting>
      <setting name="certificateName" serializeAs="String">
        <value>DNA</value>
      </setting>
      <setting name="proxyAddress" serializeAs="String">
        <value>http://10.152.4.15:80</value>
      </setting>
    </SNeSEventProcessorConsoleHost.Properties.Settings>-->
    </applicationSettings>
</configuration>
