<updatesp>

	<!-- 
		You can specify as many connections as you like to the db.
		-->
	<connection>
		<name>admin</name>
		<server></server>
		<username>sa</username>
		<pw></pw>
	</connection>

	<!--
	  The <database> tag specifies a database target.
		<name> is the name of the database
		<connection> states the connection details to use. <connection>
		tags are specified earlier in the file.
		
		You can have as many <database> tags as you want
	-->
	<database>
		<name>theGuide</name>
		<connection>admin</connection>
	</database>
	
	<!--
	  If the database section contains <snapshot> and <snapshotfilename> tags,
		that db will have the snapshot restored and recreated automatically
	
		e.g:
		
		<database>
			<name>smallGuide</name>
			<connection>admin</connection>
			<snapshot>smallGuideSS</snapshot>
			<snapshotfilename>J:\MSSQL\smallGuide.ss</snapshotfilename>
		</database>
	-->
</updatesp>
