<updatespBuildConfigurations>

	<!--
	The <buildConfiguration> tells updatesp where to find the updatesp.config file that should
	be used in relation to a build configuration, such as Debug, Release, etc.
	
	You can use relative or absolute paths.  Relative paths will be relative to the 
	project file that started the updatesp task.
	
	-->
	
	<buildConfiguration name="Debug">
		<updatespConfigFile>..\updatesp.config</updatespConfigFile>
	</buildConfiguration>
	
	<buildConfiguration name="DebugSmallGuide">
		<updatespConfigFile>..\updatespSmallGuide.config</updatespConfigFile>
	</buildConfiguration>
	
</updatespBuildConfigurations>