/*PLEASE REMOVE ALL THESE COMMENTS BEFORE LAUNCH*/

/*"light" denotes areas of status bar that are of a ligher colour - eg the "new visitoes" section*/
.ssoStatuslight {font-family : arial,helvetica,sans-serif;color:#ffffff;}
a.ssoStatuslight {text-decoration:underline;color:#000000;}
a.ssoStatuslight:hover {color:#000000;}
a.ssoStatuslight:visited {color:#000000;}


/*"dark" denotes areas of status bar that are of a darker colour - eg the "returning bbci members" section*/
.ssoStatusdark {font-family : arial,helvetica,sans-serif;color:#ffffff;}
a.ssoStatusdark {color:#ffffff;text-decoration:underline;}
a.ssoStatusdark:hover {color:#ffffff;}

.ssoHelp {font-family : arial,helvetica,sans-serif;text-decoration:underline;cursor:help;color:#003366;}
.ssoHelp:hover {color:#FF0099;}
.ssoHelp:visited {color:#FF0099;}

a.ssoStatusdarkhelp {color:#ffffff;font-family : arial,helvetica,sans-serif;cursor:help;}
a.ssoStatusdarkhelp:hover {color:#ffffff;}

.ssoStatusform {font-family : arial,helvetica,sans-serif;font-size:smaller; width:120px; height:20px; background-color:#DDDDDD;} /* Make sure this is the same colour as .ssoThree  or - if you're not using three shades of teh same colour for your main sso sections it should be a lighter version of the colour you are using for ssoOne*/

.ssoError {font-family : arial,helvetica,sans-serif;color:#ff0000;}
	
/*background of main SSO layers, one is "returning members" section colour and three is "new visitors" section colour*/
.ssoOne {background-color : #A3A3A3;}
.ssoTwo {background-color : #C5C5C5;}
.ssoThree {background-color : #DDDDDD;}

.ssoLikebody {background-color:#ffffff;}

/*divider colour for use between layers*/
.ssoStatusshadow {background-color : #000000;}