#content {padding-top:14px;}
#gettingstarted li {padding-left:0;}
#navigation {zoom:1}
ul#navigation li a {background:url(/discuss/img/bg_bottomborder_dotted.png) repeat-x bottom left; border-bottom:none;}